.addservicerow{
    min-height: 87.5vh;
}
/* .ant-col.ant-col-sm-24.ant-col-lg-12.css-dev-only-do-not-override-14wwjjs {
    background-color: #cecece;
    margin-top: 29px;
} */
form.ant-form.ant-form-vertical.css-dev-only-do-not-override-14wwjjs.bs1.p-2 {
    background-color: white;
}